<div class="page-container">
  
  <div class="header-flex">
    <h2>Controle de Empréstimos</h2>
    <app-btn-primary 
      label="Novo Empréstimo" 
      icon="plus" 
      route="/app/emprestimos/novo">
    </app-btn-primary>
  </div>

  <div class="table-wrapper">
    @if (isLoading) {
      <div class="loading-overlay">
        <i class="ph ph-spinner ph-spin"></i> Carregando...
      </div>
    }

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Livro</th>
          <th>Usuário</th>
          <th>Data Empréstimo</th>
          <th>Devolução Prevista</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (emp of emprestimos; track emp.empNrId) {
          <tr>
            <td>#{{ emp.empNrId }}</td>
            <td><strong>{{ emp.livNr.livTxTitulo }}</strong></td>
            <td>{{ emp.usuNr.usuTxNome }}</td>
            
            <td>{{ emp.empDtEmprestimo | date:'dd/MM/yyyy' }}</td>
            
            <td [class.text-danger]="estaAtrasado(emp)">
               {{ emp.empDtDevolucaoPrevista | date:'dd/MM/yyyy' }}
            </td>
            
            <td>
              <span 
                class="status-badge" 
                [class.ATRASADO]="estaAtrasado(emp)"
                [class.ATIVO]="!estaAtrasado(emp) && emp.empTxStatus === 'ATIVO'"
                [class.DEVOLVIDO]="emp.empTxStatus === 'DEVOLVIDO'"
              >
                {{ estaAtrasado(emp) ? 'ATRASADO' : emp.empTxStatus }}
              </span>
            </td>
            <td class="actions-cell">
              @if (emp.empTxStatus === 'ATIVO') {
                <button 
                  class="btn-icon primary" 
                  title="Confirmar Devolução"
                  (click)="realizarDevolucao(emp.empNrId!)">
                  <i class="ph ph-check-circle"></i>
                </button>
                <button 
                  class="btn-icon secondary" 
                  title="Renovar prazo (+7 dias)"
                  (click)="renovarLivro(emp.empNrId!)">
                  <i class="ph ph-clock-clockwise"></i>
                </button>
              }
            </td>
          </tr>
        } @empty {
          @if(!isLoading) {
             <tr><td colspan="7" class="text-center">Nenhum empréstimo encontrado.</td></tr>
          }
        }
      </tbody>
    </table>
  </div>

  @if (totalElements > 0) {
    <div class="pagination-container">
      
      <button 
        class="btn-nav" 
        [disabled]="isFirstPage || isLoading" 
        (click)="paginaAnterior()">
        <i class="ph ph-caret-left"></i>
      </button>

      <div class="page-info">
        <span class="current">Página {{ page + 1 }}</span>
        <span class="total">de {{ totalPages }}</span>
      </div>

      <button 
        class="btn-nav" 
        [disabled]="isLastPage || isLoading" 
        (click)="proximaPagina()">
        <i class="ph ph-caret-right"></i>
      </button>

    </div>
  }

</div>