<div class="page-container">
  <div class="header-flex">
      <h2>Controle de Empréstimos</h2>
      <app-btn-primary 
        label="Novo Empréstimo" 
        icon="plus" 
        route="/app/emprestimos/novo">
      </app-btn-primary>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Livro</th>
          <th>Usuário</th>
          <th>Data Empréstimo</th>
          <th>Devolução Prevista</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (emp of emprestimos; track emp.empNrId) {
          <tr>
            <td>#{{ emp.empNrId }}</td>
            <td><strong>{{ emp.livNr.livTxTitulo }}</strong></td>
            <td>{{ emp.usuNr.usuTxNome }}</td>
            
            <td>{{ emp.empDtEmprestimo | date:'dd/MM/yyyy' }}</td>
            
            <td>{{ emp.empDtDevolucaoPrevista | date:'dd/MM/yyyy' }}</td>
            
            <td>
              <span 
                class="status-badge" 
                [class.ATRASADO]="estaAtrasado(emp)"
                [class.ATIVO]="!estaAtrasado(emp) && emp.empTxStatus === 'ATIVO'"
                [class.DEVOLVIDO]="emp.empTxStatus === 'DEVOLVIDO'"
              >
                {{ estaAtrasado(emp) ? 'ATRASADO' : emp.empTxStatus }}
              </span>
            </td>
            <td class="actions-cell">
              @if (emp.empTxStatus === 'ATIVO') {
                <button 
                  class="btn-icon primary" 
                  title="Confirmar Devolução"
                  (click)="realizarDevolucao(emp.empNrId!)">
                  <i class="ph ph-check-circle"></i>
                  <span>Devolver</span>
                </button>
                <button 
                  class="btn-icon secondary" 
                  title="Renovar prazo (+7 dias)"
                  (click)="renovarLivro(emp.empNrId!)">
                  <i class="ph ph-clock-clockwise"></i>
                  <span>Renovar</span>
                </button>
              }
            </td>
          </tr>
        } @empty {
            <tr><td colspan="6" class="text-center">Nenhum empréstimo ativo.</td></tr>
        }
      </tbody>
    </table>
  </div>
</div>