<div class="auth-wrapper">
  <div class="container">

    @if (emailSent) {
      <div class="success-state">
        <div class="success-icon">
          <i class="ph ph-paper-plane-right"></i>
        </div>
        <h2>Verifique seu e-mail</h2>
        <p>Enviamos instruções de recuperação para:</p>
        <div class="email-badge">
          {{ forgotForm.get('email')?.value }}
        </div>
        <p class="hint">Não chegou? Verifique sua caixa de spam.</p>
        
        <div class="actions">
           <a routerLink="/login" class="btn-back">
             <i class="ph ph-arrow-left"></i> Voltar para o Login
           </a>
        </div>
      </div>
    } 

    @else {
      <div class="form-header">
        <div class="icon-area">
          <i class="ph ph-key"></i> </div>
        <div class="header-text">
          <h2>Recuperar Senha</h2>
          <p>Digite seu e-mail para receber o link.</p>
        </div>
      </div>
      @if(errorMessage){
        <div class="alert-box error">
          <i class="ph ph-warning-circle"></i>
          <span>{{ errorMessage }}</span>
        </div>
      }

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" autocomplete="off">
        
        <div class="form-group">
          <label for="email">E-mail Cadastrado</label>
          <div class="input-wrapper">
            <i class="ph ph-envelope-simple"></i>
            <input 
              id="email" 
              type="email" 
              formControlName="email" 
              placeholder="seu@email.com"
              [class.error]="forgotForm.controls.email.invalid && forgotForm.controls.email.touched">
          </div>

          @if (forgotForm.controls.email.invalid && forgotForm.controls.email.touched) {
            <div class="error-msg">
              @if (forgotForm.controls.email.hasError('required')) { E-mail é obrigatório. }
              @if (forgotForm.controls.email.hasError('email')) { E-mail inválido. }
            </div>
          }
        </div>

        <div class="actions">
          <app-btn-primary 
            [label]="isLoading ? 'Enviando...' : 'Enviar Link de Recuperação'" 
            icon="paper-plane-right" 
            type="submit"
            [disabled]="forgotForm.invalid || isLoading">
          </app-btn-primary>
        </div>

      </form>

      <div class="footer-link">
        <a routerLink="/login">
          <i class="ph ph-arrow-left"></i> Voltar para Login
        </a>
      </div>
    }

  </div>
</div>