<div class="auth-container">
    <h2>{{ idEdicao ? 'Editar Usuário' : 'Crie sua conta' }}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
            <label>Nome Completo</label>
            <input type="text" formControlName="usuTxNome" placeholder="Seu nome">
            @if (registerForm.controls.usuTxNome.touched && registerForm.controls.usuTxNome.errors?.['required']) {
                <div class="error-msg">
                    Nome obrigatório.
                </div>
            }
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                id="email" 
                type="email"
                formControlName="usuTxEmail"
                placeholder="seu@email.com"
                autocomplete="off"
                [class.error]="registerForm.controls.usuTxEmail.invalid && registerForm.controls.usuTxEmail.touched"
            >
            @if(registerForm.controls.usuTxEmail.invalid && registerForm.controls.usuTxEmail.touched){
                <div class="error-msg">
                    @if (registerForm.controls.usuTxEmail.hasError('required')) {
                        Email é obrigatório
                    }
                    @if (registerForm.controls.usuTxEmail.hasError('email')) {
                        Email inválido
                    }
                </div>
            }
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input
                id="password" 
                type="password"
                formControlName="usuTxSenha"
                autocomplete="new-password"
                placeholder="******"
                [class.error]="registerForm.controls.usuTxSenha.invalid && registerForm.controls.usuTxSenha.touched"
            >
            @if(registerForm.controls.usuTxSenha.invalid && registerForm.controls.usuTxSenha.touched){
                <div class="error-msg">
                    @if (registerForm.controls.usuTxSenha.hasError('required')) {
                        Senha é obrigatório
                    }
                    @if (registerForm.controls.usuTxSenha.hasError('minLength')) {
                        Mínimo de 6 caracteres
                    }
                </div>
            }
        </div>
        @if (!idEdicao) {
            <div class="form-group">
                <label>Confirmar Senha</label>
                <input type="password" formControlName="confirmPassword" placeholder="Repita a senha">
                @if (registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.hasError('passwordMismatch')) {
                    <div class="error-msg">
                        As senhas não coincidem.
                    </div>
                }
            </div>
        }
        <button type="submit" [disabled]="registerForm.invalid">
            {{ idEdicao ? 'Salvar Alterações' : 'Cadastrar' }}
        </button>
    </form>
    @if (!idEdicao) {
        <p>Já tem conta? <a routerLink="/login">Faça Login</a></p>
    }
</div>
