<div class="page-container">
  <h2>Minha Estante (Empréstimos)</h2>

  <div class="cards-grid">
    @for (emp of meusEmprestimos; track emp.empNrId) {
      <div class="loan-card" [class.devolvido]="emp.empTxStatus === 'DEVOLVIDO'">
        
        <div class="card-header">
          <div class="left-content">
            <div class="book-icon-wrapper" [ngClass]="emp.empTxStatus">
              <i class="ph ph-book-open"></i>
            </div>
            
            <div class="header-info">
              <h3>{{ emp.livNr.livTxTitulo }}</h3>
              <p class="author">{{ emp.livNr.livTxAutor }}</p>
            </div>
          </div>

          <span class="status-badge" [ngClass]="emp.empTxStatus">
            @if(emp.empTxStatus === 'ATIVO') { Ativo }
            @else if(emp.empTxStatus === 'DEVOLVIDO') { Devolvido }
            @else { Atrasado }
          </span>

        </div>

        <div class="card-body">
          <p><strong>Autor:</strong> {{ emp.livNr.livTxAutor }}</p>
          <hr>
          <div class="dates">
            <p>
              <small>Retirado em:</small><br>
              {{ emp.empDtEmprestimo | date:'dd/MM/yyyy' }}
            </p>
            <p>
              <small>Devolução prevista:</small><br>
              <strong>{{ emp.empDtDevolucaoPrevista | date:'dd/MM/yyyy' }}</strong>
            </p>
          </div>
          <hr>
          @if(emp.empTxStatus === 'ATIVO'){
            <div class="action-area">
              <app-btn-primary 
                label="Renovar (+7 dias)" 
                icon="clock-clockwise" 
                (onClick)="renovarLivro(emp.empNrId!)">
              </app-btn-primary>
            </div>
          }
        </div>

      </div>
    } @empty {
      <div class="empty-state">
        <p>Você não possui livros emprestados no momento.</p>
      </div>
    }
  </div>
  @if (totalElements > 0) {
      <div class="pagination-container">
        <button class="btn-nav" [disabled]="isFirstPage || isLoading" (click)="paginaAnterior()">
          <i class="ph ph-caret-left"></i>
        </button>

        <div class="page-info">
          <span class="current">Página {{ page + 1 }}</span>
          <span class="total">de {{ totalPages }}</span>
        </div>

        <button class="btn-nav" [disabled]="isLastPage || isLoading" (click)="proximaPagina()">
          <i class="ph ph-caret-right"></i>
        </button>
      </div>
    }
</div>